<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cw.portal.persistence.AskForLeaveMapper">

	<!-- 获取总数 -->
	<select id="getCount" resultType="int">
		select count(id) from et_ask_for_leave
		<where>
			1=1
			<if test="askForLeave.user_id!=null">and user_id=#{askForLeave.user_id}</if>
			<if test="askForLeave.id!=null">and id=#{askForLeave.id}</if>
			<if test="start != null">and <![CDATA[create_time >= str_to_date(#{start},'%Y-%m-%d %H:%i%s')]]></if>
			<if test="end != null">and <![CDATA[create_time <= str_to_date(#{end},'%Y-%m-%d %H:%i%s')]]></if>
		</where>
		order by create_time desc
	</select>

	<!-- 根据id查询 -->
	<select id="queryById" resultType="com.cw.common.domain.askForLeave.AskForLeave">
		select
		a.id,a.user_id,a.role_id,a.audit,date_format(a.create_time,'%Y-%m-%d
		%H:%i') create_time,a.type,a.reason,date_format(a.start_time,'%Y-%m-%d
		%H:%i') start_time,date_format(a.end_time,'%Y-%m-%d %H:%i') end_time,a.status,b.true_name role_name,TIMESTAMPDIFF(day,start_time,end_time) day
		,TIMESTAMPDIFF(hour,start_time,end_time) hour
		from
		et_ask_for_leave a left join et_user b on a.role_id=b.user_id
		where id=#{id} and a.user_id=#{userId}
	</select>

	<!-- 条件、分页查询 -->
	<select id="queryHistoryByCondition" resultType="com.cw.common.domain.askForLeave.AskForLeave">
		select a.id,a.user_id,a.role_id,a.audit,b.true_name role_name,date_format(a.create_time,'%Y-%m-%d %H:%i')
		create_time,a.type,a.reason,date_format(a.start_time,'%Y-%m-%d %H:%i')
		start_time,date_format(end_time,'%Y-%m-%d %H:%i') end_time,a.status,TIMESTAMPDIFF(day,start_time,end_time) day 
		,TIMESTAMPDIFF(hour,start_time,end_time) hour
		from
		et_ask_for_leave a left join et_user b on a.role_id=b.user_id
		<where>
			1=1
			<if test="askForLeave.user_id!=null">and a.user_id=#{askForLeave.user_id}</if>
			<if test="askForLeave.id!=null">and id=#{askForLeave.id}</if>
			<if test="start != null">and <![CDATA[create_time >= date_format(#{start},'%Y-%m-%d %H:%i%s')]]></if>
			<if test="end != null">and <![CDATA[create_time <= date_format(#{end},'%Y-%m-%d %H:%i%s')]]></if>
		</where>
		order by create_time desc
	</select>

	<insert id="addApplication" parameterType="com.cw.common.domain.askForLeave.AskForLeave">
		INSERT INTO
		et_ask_for_leave
		(user_id,start_time,end_time,type,reason)
		values
		(#{user_id},DATE_FORMAT(#{start_time},'%Y-%m-%d %H:%i:%s'),DATE_FORMAT(#{end_time},'%Y-%m-%d %H:%i:%s'),#{type},#{reason})
	</insert>

</mapper>